<?xml version="1.0"?>
<!--
/**
 * @category Mdbhojwani
 * @package Mdbhojwani_ReorderRewards
 * @author Manish Bhojwani <manishbhojwani3@gmail.com>
 * @github https://github.com/mdbhojwani
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="mdbhojwani_reorderrewards" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Reorder Rewards</label>
            <tab>sales</tab>
            <resource>Mdbhojwani_ReorderRewards::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="discount_mapping" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Discount Mapping</label>
                    <comment>(e.g., 0-100:5,100-500:10,500+:20)</comment>
                    <depends>
                        <field id="*/general/enabled">1</field>
                    </depends>
                </field>
                <field id="expiration" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Coupon Exiration</label>
                    <comment>(e.g., +7 days)</comment>
                    <depends>
                        <field id="*/general/enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="email" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Settings</label>
                <field id="sender_email" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender Email</label>
                    <depends>
                        <field id="*/general/enabled">1</field>
                    </depends>
                </field>
                <field id="sender_name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender Name</label>
                    <depends>
                        <field id="*/general/enabled">1</field>
                    </depends>
                </field>
                <field id="email_template" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="*/general/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>